<form action='/names' method='post'>
  <label>First player name</label>
  <input type='text' id='First player name' name='player1'>
  <label>Second player name</label>
  <input type='text' id='Second player name' name='player2'>
  <input type='submit' value='Submit'>
</form>