<p><%= $player1.name %> vs. <%= $player2.name %>!!!</p>

<p><%= $player2.name %> Hit Points: <%= $player2.name %> HPs</p>

<form action='/attack' method='get'>
  <input type='submit' value='Attack' >
</form>

